// services
.services__header {
  padding: 20rem 8rem 8rem 8rem;
  color: var(--white);
  background-color: var(--blue);

  h1 {
    font-size: 11rem;
    font-family: var(--title-font);
    font-weight: var(--font-med);
    padding-bottom: 1rem;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    text-align: center;
  }

  p {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.15rem;
  }
}

@media only screen and (max-width: 1360px) {
  .services__header {
    padding: 18rem 4rem 10rem 4rem;

    h1 {
      font-size: 8rem;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .services__header {
    padding: 16rem 2rem 8rem 2rem;
  }
}

@media only screen and (max-width: 900px) {
  .services__header {
    h1 {
      font-size: 6rem;
    }
  }
}

@media only screen and (max-width: 700px) {
  .services__header {
    padding: 12rem 1rem 6rem 1rem;

    h1 {
      font-size: 4.5rem;
    }

    p {
      font-size: 1rem;
      width: 100%;
      padding: 0 1rem;
    }
  }
}

@media only screen and (max-width: 525px) {
  .services__header {
    h1 {
      font-size: 3.5rem;
    }
  }
}

@media only screen and (max-width: 400px) {
  .services__header {
    padding: 10rem 1rem 6rem 1rem;

    h1 {
      font-size: 2.75rem;
    }
  }
}

.services__page__slider {
  background-color: #fff;
  position: relative;

  .colour {
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 34rem;
  }

  .splide__slide {
    .img {
      height: 60rem;
      transition: var(--fast-speed);

      figure,
      img {
        pointer-events: none;
      }
    }

    .content {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      color: #fff;
      padding: 4rem;

      h2 {
        font-family: var(--title-font);
        font-size: 4rem;
        font-weight: var(--font-med);
      }

      p {
        font-size: 1.25rem;
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    }
  }
}

@media only screen and (max-width: 1200px) {
  .services__page__slider {
    .splide__slide {
      .img {
        height: 50rem;
      }
    }
  }
}

@media only screen and (max-width: 825px) {
  .services__page__slider {
    .colour {
      height: 20rem;
    }

    .splide__slide {
      .img {
        height: 32rem;
      }

      .content {
        padding: 2rem;

        h2 {
          font-size: 2.5rem;
        }

        p {
          font-size: 1.15rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .services__page__slider {
    .colour {
      height: 14rem;
    }

    .splide__slide {
      .img {
        height: 28rem;
      }

      .content {
        padding: 1.25rem;

        h2 {
          font-size: 1.75rem;
        }

        p {
          font-size: 1rem;
        }
      }
    }
  }
}

.service__intro__details {
  max-width: 1600px;
  margin: 0 auto;
  padding: 10rem 0 2rem 0;
  color: rgb(19, 19, 19);

  > p {
    font-size: 4rem;
    text-align: center;
    font-weight: var(--font-xbold);
    padding: 0 4rem;
  }

  .accordions {
    padding: 8rem 2rem 0 2rem;
    color: rgb(19, 19, 19);
    max-width: 1366px;
    margin: 0 auto;

    .content {
      p,
      ul {
        color: rgb(19, 19, 19);
        font-size: 1.25rem;
        margin-bottom: 1rem;
      }

      li {
        margin-bottom: 0.25rem;
      }
    }
  }
}

@media only screen and (max-width: 1366px) {
  .service__intro__details {
    p {
      font-size: 3rem;
    }
  }
}

@media only screen and (max-width: 950px) {
  .service__intro__details {
    p {
      font-size: 2.5rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .service__intro__details {
    padding: 8rem 1.5rem 2rem 1.5rem;

    p {
      font-size: 2rem;
      padding: 0;
    }
  }
}

@media only screen and (max-width: 375px) {
  .service__intro__details {
    padding: 8rem 1rem 2rem 1rem;

    p {
      font-size: 1.75rem;
    }
  }
}

.service__main__details {
  padding: 12rem 0;
  position: relative;

  .img {
    height: 60rem;
  }

  .content {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 80%;
    max-width: 1600px;
    padding: 4rem;
    background-color: #fff;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: #fff;

    h3 {
      font-size: 2.5rem;
      font-family: var(--title-font);
      text-align: center;
      font-weight: var(--font-med);
      max-width: 1200px;
      margin: 0 auto 1rem auto;
    }

    .grid {
      padding: 4rem 0 2rem 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4rem;

      li {
        h4 {
          font-size: 2rem;
          font-weight: var(--font-xbold);
          color: var(--orange);
          margin-bottom: 1rem;
        }

        p {
          font-size: 1.15rem;
        }
      }
    }
  }
}

.services__info__text {
  max-width: 1600px;
  margin: 0 auto;
  padding: 12rem 2rem 8rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
  align-items: center;

  .img {
    height: 60rem;
    width: 100%;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.15);
  }

  .text {
    max-width: 650px;
    color: rgb(19, 19, 19);

    h4 {
      font-size: 3.5rem;
      font-weight: var(--font-xbold);
      line-height: 1.25;
      margin-bottom: 3rem;
    }

    p {
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }
  }
}

.services__full__img {
  padding-top: 8rem;
}

.services__testimonial {
  background-color: #fff;
  color: rgb(19, 19, 19);
  padding: 10rem 0 2rem 0;

  > div {
    max-width: 1024px;
    margin: 0 auto;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;

      svg {
        width: 8rem;
        height: 8rem;
      }
    }

    p {
      font-size: 2rem;
      font-weight: var(--font-xbold);
      text-align: center;
      padding: 0 1rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .services__testimonial {
    > div {
      .icon {
        svg {
          width: 5rem;
          height: 5rem;
        }
      }

      p {
        font-size: 1.5rem;
      }
    }
  }
}
